@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Comfortaa-Regular'; /* Имя шрифта */
  src: url('../../public/fonts/Comfortaa-Regular.woff2') format('woff2'); /* Путь к файлу шрифта */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa-Bold'; /* Имя шрифта */
  src: url('../../public/fonts/Comfortaa-Bold.woff2') format('woff2'); /* Путь к файлу шрифта */
  font-weight: normal;
  font-style: normal;
}

.font-regular {
  font-family: 'Comfortaa-Regular', sans-serif;
}

.font-bold {
  font-family: 'Comfortaa-Bold', sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
